<html>
	<head>
		<script language="javascript" type="text/javascript" src="jquery-3.1.1.min.js"></script>
		<script language="javascript" type="text/javascript" src="p5.js"></script>
		<script language="javascript" type="text/javascript" src="p5.dom.js"></script>  
		<script language="javascript" type="text/javascript" src="alphaMaskExample.js"></script>
		<script language="javascript" type="text/javascript" src="navibar.js"></script>

        <link rel="stylesheet" href="navibarStylesheet.css">
	</head>
	
	<body>
		<div id="navibar-placeholder"></div>
	</body>
</html>