<html>
	<head>
		<script language="javascript" type="text/javascript" src="jquery-3.1.1.min.js"></script>

		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="navibarStylesheet.css">
		<link rel="stylesheet" type="text/css" href="homeStylesheet.css">
	</head>
	<body>
		<div id="navibar-placeholder"></div>
		
		<div id="contentContainer">
			<div id="content">{{introduction}}</div>
		</div>
	</body>
</html>