<html>
	<head>
		<script language="javascript" type="text/javascript" src="jquery-3.1.1.min.js"></script>
		<script language="javascript" type="text/javascript" src="navibar.js"></script>

		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="navibarStylesheet.css">
		<link rel="stylesheet" type="text/css" href="indexStylesheet.css">
	</head>
	<body>
		<div id="navibar-placeholder"></div>
		
		<form id="Name" method="POST">
			First Name:<br>
			<input type="text" name="firstName"><br>
			Last Name:<br>
			<input type="text" name="lastName">
			<input type="submit" name="nameForm" value="Submit">
		</form>
		<p style="text-align: center; width: 300px; margin: 0 auto;">
		</p>
	</body>
</html>