<div class="navibar">
	<ul class="navibar-menu row">
		<li class="navibar-item col-md-1"><a class="navibar-item-content" href="home">Home</a></li>
		<li class="navibar-item col-md-1"><div class="navibar-item-content">Projects</div>
			<ul class="navibar-submenu">
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="2dTreeGenerator">2D Tree Generator</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="3dTreeGenerator">3d Tree Generator</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="mazeGenerator">Maze Generator</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="alphaMaskExample">Alpha Masking</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="mtgPrices">Mtg Prices</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="mtgPricesMustache">Mtg Prices Mustache</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-content" href="facebookFeed">Facebook Feed</a></li>
			</ul>
		</li>
	</ul>
</div>