<div class="navibar">
	<ul class="navibar-menu row">
		<li class="navibar-item col-md-1"><a class="navibar-item-link" href="home">Home</a></li>
		<li class="navibar-item col-md-1"><a class="navibar-item-link">Projects</a>
			<ul class="navibar-submenu">
				<li class="navibar-subitem"><a class="navibar-subitem-link" href="2dTreeGenerator">Tree Generator</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-link" href="mazeGenerator">Maze Generator</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-link" href="alphaMaskExample">Alpha Masking</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-link" href="mtgPrices">Mtg Prices</a></li>
				<li class="navibar-subitem"><a class="navibar-subitem-link" href="mtgPricesMustache">Mtg Prices Mustache</a></li>
			</ul>
		</li>
	</ul>
</div>