body {
    background-image: url("blueGradient.jpg");
    background-color: rgb(28, 91, 191);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: rgb(255,255,255);
}

table {
	background-color: rgb(100,100,100);
	color: rgb(0,0,0);
}