body{
	margin:0px;
}

.navibar {
	margin: 0;
	padding: 0;
	background-color: #333;
	height: auto;
}

.navibar ul{
	padding:0;
	margin:0;
	list-style-type: none;
	height: auto;
	overflow: display;
	display: inline-block;
	width: 100%;
}

.navibar-submenu {
	max-height: 0px;
	background-color: #333;
	position: absolute;
	overflow: hidden;
	width: auto;
}

.navibar-item:hover .navibar-submenu {
	max-height:800px;
	-webkit-transition:max-height 0.2s ease-in;
	-moz-transition:max-height 0.2s ease-in;
	transition:max-height 0.2s ease-in;
	
}

.navibar-item {
	float: left;
	position: relative;
	border-color: #AAAAAA;
	border-width: 3px;
	border-style: outset;
	padding: 0px;
	height: auto;
}

.navibar-subitem {
	border-color: #AAAAAA;
	border-width: 3px;
	border-style: outset;
}

.navibar-item:hover, .navibar-subitem:hover{
	background-color: #111;
	text-decoration: none;
}

.navibar-item-link, .navibar-subitem-link {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
	width: 100%;
	height: auto;
}

.navibar-item-link {
	min-width: 110px;		
}

navibar-subitem-link {
}

